<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heroalex.copscivilslicense">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Maps AIzaSyBt6AlnROg_O0H_fSRwSeZXnoJAm9av9KE -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBt6AlnROg_O0H_fSRwSeZXnoJAm9av9KE" />

        <!-- for RegisterCivil -->

        <service android:name=".ServiceLogin" />

        <activity android:name=".BaseActivity"></activity>

        <activity android:name=".CopMap"></activity>



    </application>



</manifest>